In [1]:
a = 25
b = 20
a if a > b else b

25

In [2]:
for i in range(1, 11):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [3]:
for idx, i in enumerate(range(1, 11), start=1):
    print(idx, i)

1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9
10 10

In [4]:
for i in "afzal":
    print(i)

a
f
z
a
l

In [5]:
for idx, i in enumerate("afzal"):
    print(idx, i)

0 a
1 f
2 z
3 a
4 l

In [6]:
print(int.__doc__)

int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

In [7]:
def add(*args):
    print(args)

In [8]:
add(1,2,3,4)

(1, 2, 3, 4)

In [9]:
a = 10
def outer(c):
    print("o")
    def inner(d):
        result = a+d
        print(result)
    inner(c)

In [10]:
outer(10)

o
20

In [11]:
def double(x):
    result = 2*x
    return result

In [12]:
lst = [1,2,3,4,5,6]

double_no = list(map(double, lst))

In [13]:
double_no

[2, 4, 6, 8, 10, 12]

In [14]:
lst1 = [1,2,3,4,5,6]
def even(x):
    return x % 2 ==0

In [15]:
even_no = list(filter(even, lst))

In [16]:
even_no

[2, 4, 6]

In [17]:
name = ["afzal", "aman", "amir", "anis"]
course = ["btech", "bsc", "bsc", "polytech"]

list(zip(name, course))

[('afzal', 'btech'), ('aman', 'bsc'), ('amir', 'bsc'), ('anis', 'polytech')]

In [18]:
from functools import reduce

numbers = [1,2,3,4,5]

ans = reduce((lambda a, b: a+b), numbers)

In [19]:
ans

15

In [20]:
from functools import reduce

numbers1 = [1,2,3,4,5]

ans1 = reduce((lambda a, b: a+b), numbers1, 10)

In [21]:
ans1

25

In [22]:
lst = [i*2 for i in range(1,11) if i % 2 == 0]

In [23]:
lst

[4, 8, 12, 16, 20]

In [24]:
lst1 = [i+"-hello" for i in ["afzal", "aman", "anis", "amir"]]

In [25]:
lst1

['afzal-hello', 'aman-hello', 'anis-hello', 'amir-hello']

In [26]:
n = [3,1,5,2,4]

In [27]:
n.sort()

In [28]:
n

[1, 2, 3, 4, 5]

In [29]:
n2 = [1,4,5,6,2,3]
sorted_lst = sorted(n2)

In [30]:
n2

[1, 4, 5, 6, 2, 3]

In [31]:
sorted_lst

[1, 2, 3, 4, 5, 6]

In [32]:
with open("a.txt", "x") as f:
    data = f.write("Hello world")

In [33]:
with open("a.txt", "r") as f:
    data = f.read()

In [34]:
print(data)

Hello world

In [35]:
with open("a.txt", "a+") as f:
    data = f.write(" , i am afzal")
print(data)

13

In [36]:
try:
    x = 10 / 0
except Exception as e:
    print("An error occurred:", e)

An error occurred: division by zero

In [37]:
import random

random.randint(1,6)

1

In [38]:
random.randrange(1,7)

3

In [39]:
random.random()

0.08528722618322615

In [40]:
random.uniform(3,9)

7.366630453766589

In [41]:
no = [1,2,3,4,5,6]
random.shuffle(no)
no

[2, 6, 4, 1, 5, 3]