In [1]:
import requests
import pandas as pd

In [2]:
url = "https://weatherbit-v1-mashape.p.rapidapi.com/forecast/3hourly"

params = {
    "lat": "35.5",
    "lon": "-78.5",
    "units": "imperial",
    "lang": "en"
}

headers = {
    "x-rapidapi-host": "weatherbit-v1-mashape.p.rapidapi.com",
    "x-rapidapi-key": "885b3131d9msh816a48785e2f145p100ad9jsnae97fdad8ab0"
}

response = requests.get(url, params=params, headers=headers)

print(response.status_code)

200

In [3]:
data = response.json()

In [4]:
df = pd.DataFrame(data)

In [5]:
df.head()

,city_name,country_code,data,lat,lon,state_code,timezone
0,Four Oaks,US,"{'app_temp': 31.3, 'clouds': 46, 'clouds_hi': ...",35.5,-78.5,NC,America/New_York
1,Four Oaks,US,"{'app_temp': 30.7, 'clouds': 50, 'clouds_hi': ...",35.5,-78.5,NC,America/New_York
2,Four Oaks,US,"{'app_temp': 31.5, 'clouds': 57, 'clouds_hi': ...",35.5,-78.5,NC,America/New_York
3,Four Oaks,US,"{'app_temp': 36.3, 'clouds': 42, 'clouds_hi': ...",35.5,-78.5,NC,America/New_York
4,Four Oaks,US,"{'app_temp': 45.5, 'clouds': 33, 'clouds_hi': ...",35.5,-78.5,NC,America/New_York

In [6]:
df["country_code"]

0      US
1      US
2      US
3      US
4      US
       ..
116    US
117    US
118    US
119    US
120    US
Name: country_code, Length: 121, dtype: object

In [7]:
df["data"][0]

{'app_temp': 31.3,
 'clouds': 46,
 'clouds_hi': 98,
 'clouds_low': 0,
 'clouds_mid': 18,
 'datetime': '2026-01-01:11',
 'dewpt': 24.6,
 'dhi': 0,
 'dni': 0,
 'ghi': 0,
 'ozone': 302,
 'pod': 'n',
 'pop': 0,
 'precip': 0,
 'pres': 1004,
 'rh': 63,
 'slp': 1012,
 'snow': 0,
 'snow_depth': 0,
 'solar_rad': 0,
 'temp': 36,
 'timestamp_local': '2026-01-01T06:00:00',
 'timestamp_utc': '2026-01-01T11:00:00',
 'ts': 1767265200,
 'uv': 0,
 'vis': 14.9,
 'weather': {'description': 'Broken clouds', 'icon': 'c03n', 'code': 803},
 'wind_cdir': 'WSW',
 'wind_cdir_full': 'west-southwest',
 'wind_dir': 250,
 'wind_gust_spd': 11,
 'wind_spd': 5.4}