In [1]:
# import pandas as pd
# import requests
# from bs4 import BeautifulSoup

In [2]:
# url = f"https://www.ambitionbox.com/list-of-companies?page={1}"

# headers = {
#     "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/117.0.0.0 Safari/537.36",
#     "Accept-Language": "en-US,en;q=0.9"
# }

# response = requests.get(url, headers=headers)

In [3]:
# response.status_code

In [4]:
# webpage = response.text

In [5]:
# print(webpage)

In [6]:
# soup = BeautifulSoup(webpage, "html.parser")

In [7]:
# print(soup.prettify())

In [8]:
# comp_details = soup.find_all("div", class_="companyCardWrapper")
# len(comp_details)

In [9]:
# comp_name = []
# ratings = []
# reviews = []
# salaries = []
# interviews = []
# jobs = []
# for i in comp_details:
#     comp_name.append(i.h2.text.strip())
#     ratings.append(i.find("div", class_="rating_text rating_text--md").text.strip())
#     reviews.append(i.find_all("a", class_="companyCardWrapper__ActionWrapper")[0].text)
#     salaries.append(i.find_all("a", class_="companyCardWrapper__ActionWrapper")[1].text)
#     interviews.append(i.find_all("a", class_="companyCardWrapper__ActionWrapper")[2].text)
#     jobs.append(i.find_all("a", class_="companyCardWrapper__ActionWrapper")[3].text)

In [10]:
# d = {"Company Name": comp_name, "Ratings": ratings, "Reviews": reviews, "Salaries": salaries, "Interviews": interviews, "Jobs": jobs}

In [11]:
# df = pd.DataFrame(d)

In [12]:
# df

In [13]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time

In [14]:
all_pages = []
for j in range(1, 2):
    
    url = f"https://www.ambitionbox.com/list-of-companies?page={j}"

    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/117.0.0.0 Safari/537.36",
        "Accept-Language": "en-US,en;q=0.9"
    }

    response = requests.get(url, headers=headers)
    webpage = response.text
    soup = BeautifulSoup(webpage, "html.parser")

    comp_details = soup.find_all("div", class_="companyCardWrapper")

    comp_name = []
    ratings = []
    reviews = []
    salaries = []
    interviews = []
    jobs = []
    benefits = []
    for i in comp_details:
        comp_name.append(i.h2.text.strip())
        ratings.append(i.find("div", class_="rating_text rating_text--md").text.strip())
        actions = i.find_all("a", class_="companyCardWrapper__ActionWrapper")
        reviews.append(actions[0].span.text)
        salaries.append(actions[1].span.text)
        interviews.append(actions[2].span.text)
        jobs.append(actions[3].span.text)
        benefits.append(actions[4].span.text)


    d = {"Company Name": comp_name, 
         "Ratings": ratings, 
         "Reviews": reviews, 
         "Salaries": salaries, 
         "Interviews": interviews, 
         "Jobs": jobs,
         "Benefits": benefits}
    temp_df = pd.DataFrame(d)
    all_pages.append(temp_df)

    time.sleep(1)

In [15]:
df = pd.concat(all_pages, ignore_index=True)

In [16]:
df

              Company Name Ratings Reviews Salaries Interviews   Jobs Benefits
0                      TCS     3.3    1.1L     9.7L      11.7k   3.1k    10.6k
1                Accenture     3.7   70.9k     6.5L       9.1k  37.8k     6.7k
2                    Wipro     3.6   62.9k     4.7L       6.5k   5.9k     4.6k
3                Cognizant     3.6   59.8k     5.9L       6.3k    704     5.5k
4                Capgemini     3.7   51.4k     4.7L       5.4k   1.9k     3.6k
5                HDFC Bank     3.8   50.4k     1.5L       2.9k    205     3.2k
6                  Infosys     3.5   47.1k     5.2L       8.3k   2.7k     4.8k
7               ICICI Bank     4.0   45.1k     1.5L       2.9k     17     3.7k
8                  HCLTech     3.4   44.3k     3.7L       4.4k    198     3.8k
9            Tech Mahindra     3.4   42.3k     2.8L       4.4k    359     3.4k
10                 Genpact     3.6   40.6k     2.3L       3.7k    480     3.5k
11         Teleperformance     3.8   36.4k    95.6k       2.1k   1.1k     1.8k
12               Axis Bank     3.6   32.2k       1L       1.8k    189     2.1k
13                     Jio     4.3   31.7k    61.9k       3.6k      3     2.5k
14  Concentrix Corporation     3.6   31.5k     1.3L       1.9k     66     3.1k
15                  Amazon     3.9   30.6k     1.5L       5.7k   1.5k     4.1k
16              iEnergizer     4.6   27.4k    23.9k         1k     47      430
17         Reliance Retail     3.9   26.9k    74.8k       1.9k     95     1.8k
18             LTIMindtree     3.6   25.7k     1.9L       3.3k    403      776
19                     IBM     3.9   25.3k     2.1L       2.6k   2.5k     2.6k

In [17]:
# df.to_csv("companies_data.csv") #to save file